<form action="/user/add-gift-date" class="form-horizontal" method="POST">
  <fieldset>
    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="firstName">first name</label>
      <div class="col-md-4">
        <input
          class="form-control input-md"
          id="firstName"
          name="firstName"
          placeholder="first name"
          type="text"
        />
      </div>
    </div>
    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="lastName">last name</label>
      <div class="col-md-4">
        <input
          class="form-control input-md"
          id="lastName"
          name="lastName"
          placeholder="last name"
          type="text"
        />
      </div>
    </div>
    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="address">address</label>
      <div class="col-md-4">
        <input
          class="form-control input-md"
          id="address"
          name="address"
          placeholder="address"
          type="text"
        />
      </div>
    </div>
    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="giftDate">gift date</label>
      <div class="col-md-4">
        <input
          class="form-control input-md"
          id="giftDate"
          name="giftDate"
          placeholder="gift date"
          type="date"
        />
      </div>
    </div>

    <!-- Button -->
    <button id="submitRecipient" class="btn btn-primary" type="button">
      Submit
    </button>
  </fieldset>
</form>
<br />
<br />
<br />
<script src="/static/js/addRecipient.js"></script>
