{% extends "base.html" %} {% block content %}
<h1>Sign up for an account. It's free!</h1>
<form action="/user/signup" class="form-horizontal" method="POST">
  <fieldset>
    <!-- Text input-->
    <div class="form-group row">
      {% if username_error %}
      <label class="col-md-4 col-form-control-label text-danger" for="username"
        >username</label
      >
      <div class="col-md-4">
        <input
          class="form-control input-md is-invalid"
          id="username"
          name="username"
          placeholder="username"
          required=""
          type="text"
          value="{{ username }}"
        />
      </div>
      <div class="col-md-4">
        <small class="text-danger" id="usernameHelp">
          {{ username_error }}
        </small>
      </div>
      {% else %}
      <label class="col-md-4 col-form-control-label" for="username"
        >username</label
      >
      <div class="col-md-4">
        <input
          class="form-control"
          id="username"
          name="username"
          placeholder="username"
          required=""
          type="text"
          value="{{ username }}"
        />
      </div>
      {% endif %}
    </div>
    <!-- Text input-->
    <div class="form-group row">
      {% if email_error %}
      <label class="col-md-4 control-label text-danger" for="email"
        >email</label
      >
      <div class="col-md-4">
        <input
          class="form-control input-md is-invalid"
          id="email"
          name="email"
          placeholder="email"
          type="email"
          value="{{ email }}"
        />
      </div>
      <div class="col-md-4">
        <small class="text-danger" id="emailHelp"> {{ email_error }} </small>
      </div>
      {% else %}
      <label class="col-md-4 control-label" for="email">email</label>
      <div class="col-md-4">
        <input
          class="form-control input-md"
          id="email"
          name="email"
          placeholder="email"
          type="email"
          value="{{ email }}"
        />
      </div>
      {% endif %}
    </div>
    <!-- Text input-->
    <div class="form-group row">
      {% if password_error %}
      <label class="col-md-4 control-label text-danger" for="password"
        >password</label
      >
      <div class="col-md-4">
        <input
          class="form-control input-md is-invalid"
          id="password"
          name="password"
          placeholder="password"
          type="password"
          value="{{ password }}"
        />
      </div>
      <div class="col-md-4">
        <small class="text-danger" id="passwordHelp">
          {{ password_error }}
        </small>
      </div>
      {% else %}
      <label class="col-md-4 control-label" for="password">password</label>
      <div class="col-md-4">
        <input
          class="form-control input-md"
          id="password"
          name="password"
          placeholder="password"
          type="password"
        />
      </div>
      {% endif %}
    </div>
    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="firstName">first name</label>
      <div class="col-md-4">
        <input
          class="form-control input-md"
          id="firstName"
          name="firstName"
          placeholder="first name"
          type="text"
          value="{{ first_name }}"
        />
      </div>
    </div>
    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="lastName">last name</label>
      <div class="col-md-4">
        <input
          class="form-control input-md"
          id="lastName"
          name="lastName"
          placeholder="last name"
          type="text"
          value="{{ last_name }}"
        />
      </div>
    </div>
    <!-- Text input-->
    <div class="form-group row">
      {% if phone_error %}
      <label class="col-md-4 control-label text-danger" for="phone"
        >phone</label
      >
      <div class="col-md-4">
        <input
          class="form-control input-md is-invalid"
          id="phone"
          name="phone"
          placeholder="555-555-5555"
          type="tel"
        />
      </div>
      <div class="col-md-4">
        <small class="text-danger" id="phoneHelp"> {{ phone_error }} </small>
      </div>
      {% else %}
      <label class="col-md-4 control-label" for="phone">phone</label>
      <div class="col-md-4">
        <input
          class="form-control input-md"
          id="phone"
          name="phone"
          placeholder="phone"
          type="tel"
        />
      </div>
      {% endif %}
    </div>
    <!-- Button -->
    <button id="submitButton" class="btn btn-primary" type="submit">
      Submit
    </button>
  </fieldset>
</form>
<script src="/static/js/validate.min.js"></script>
<script src="/static/js/checkUnique.js"></script>
{% endblock content%}
